.dropzone {
    width: 100%;
    min-height: 200px;
    margin-bottom: 10px;
    border: 2px dashed rgb(102, 102, 102);
    border-radius: 5px;

    &__placeholder {
        padding: 15px;
        text-align: center;
    }
}

.add-form {
    position: relative;
}

.group-panel {
    position: relative;

    &__actions {
        padding: 5px;
        cursor: pointer;
    }
}

.document {
    overflow: hidden;
    height: 350px;
    margin: 15px;
    background: none;
    box-shadow: 0 0 8px 1px rgba(166, 158, 166, 1);

    &__image {
        z-index: 2;
    }

    &__remove-icon {
        padding: 15px;
        color: #999999;
        cursor: pointer;
    }

    &__thumb {
        width: 100%;
        height: 200px;
        font-size: 200px;
        text-align: center;

        &--added {
            margin-top: 25px;
        }
    }

    &__filename {
        margin: 0;
        text-align: center;
    }

    &__filesize, $__timestamp {
        color: #999999;
        font-size: 10px;
        text-align: center;
    }
}

.upload {
    margin-top: 5px;
    text-align: center;

    &__button {
        padding: 10px 50px;
        color: #ffffff;
        background: #414141;
        border: 0;
        border-radius: 3px;
        box-shadow: 0 4 0 0 #eeeeee;
        font-size: 18px;
        font-weight: bold;
    }
}

