.dropzone {
    min-height: auto;
    padding: 0;
    border: none;

    &__placeholder {
        font-size: 12px;
        text-align: center;
    }
}

.list-group {
    // No need to set list-style: none; since .list-group-item is block level
    margin-bottom: 20px;
    padding-left: 0; // reset padding because ul and ol
}

.list-group-item {
    position: relative;
    display: block;
    margin-bottom: -1px;
    padding: 10px 15px;
    border: 1px solid 1px;

    // Round the first and last items
    &:first-child {
        border-top-radius: 4px;
    }

    &:last-child {
        margin-bottom: 0;
        border-bottom-radius: 4px;
    }

}
