.supplier-requested-documents{

    .list-group {
        margin-bottom: 20px;
        padding-left: 0;
    }

    .list-group-item {
        position: relative;
        display: block;
        margin-bottom: 2px;
        padding: 10px 15px;
        border: 1px solid #dddddd;

        &:first-child {
            border-top-radius: 4px;
        }

        &:last-child {
            margin-bottom: 0;
            border-bottom-radius: 4px;
        }
    }

    .dropzone {

        .dz-message {
            line-height: 0;
        }
    }
}

.fa-download {
    cursor: pointer;
}
