.document-table {
    border-collapse: collapse;

    &__header, &__group-header {
        padding: 6px 10px;
        border-bottom: 1px #000000;
        font-weight: bold;
        line-height: 30px;
        text-align: center;
    }

    &__header {

        .rotate {
            height: 140px;
            white-space: nowrap;
            vertical-align: middle;

            div {
                transform: translate(0, 51px) rotate(315deg);
                width: 30px;
            }
        }

        .fa-download {
            display: inline-block;
        }
    }

    &__group-header {
        background: #eeeeee;

        &-title {
            padding: 6px 10px;
            font-size: 12px;
            text-align: left;
        }
    }

    &__item, &__item-invisible {
        overflow: hidden;
        width: 30px;
        padding: 5px 10px;
        font-size: 12px;
        text-overflow: ellipsis;
        text-align: center;
        white-space: nowrap;
    }

    &__document-checkbox {
        margin-top: 10px;
        padding-right: 10px;
        text-align: center;
    }

    &__document-name {
        display: block;
        overflow: hidden;
        margin: 10px 0;
        padding-left: 10px;
        font-size: 12px;
        white-space: nowrap;

        a {
            margin-right: 5px;
        }
    }

}
