.toast-container {
    background: #3fcc8b;
    color: #ffffff;
    width: 100%;
    min-width: 500px;
    text-align: center;
    padding: 10px;
    position: fixed;
    z-index: 100;
    font-size: 14px;
    visibility: hidden;
    transition: all ease-in-out 0.2s;
    transform-style: preserve-3d;
    transform: translate3d(0, 0, 0) rotateX(90deg);
    transform-origin: 50% 0%;
    margin: auto;
    left: 0;
    right: 0;
    top: -10px;

    &.active {
        visibility: visible;
        height: auto;
        transform: translate3d(0%, 0%, 0) rotateX(0deg);
        transition: all ease-in-out 0.5s;
    }

    &.success {
        background: #3fcc8b;
    }

    &.error {
        background: #d9534f;
        color: #ffffff;
    }
}
