.tag-list{

    .tag-icon{
        padding: 5px 10px;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
    }

    .cover{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .icon-picker{
        position: relative;

        .btn{

            .fa{
                width: 30px;
                height: 18px;
                font-size: 1.5em;
            }
        }

        .icon-group{
            position: relative;
            overflow: hidden;
            overflow-y: auto;
            float: none;
            clear: both;
            width: 216px;
            max-height: 246px;
            min-height: 49px;
        }

        .icon-item{
            float: left;
            width: 30px;
            height: 30px;
            margin: 15px;

            .fa{
                font-size: 2em;
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .horizontal-block{

        .item{
            display: block;
            margin-top: 5px;
        }
    }
}

@media screen and (min-width: 480px) {

    .horizontal-block{

        .item{
            display: inline-block;

            &:not(:first-child) {
                margin-left: 5px;
            }
        }
    }
}

.flag-aborginal{
    width: 30px;
    height: 30px;
    background: url('/country-flags/aborginal.png') no-repeat center center;
    background-size: contain;
}

.flag-eu{
    width: 30px;
    height: 30px;
    background: url('/country-flags/eu.png') no-repeat center center;
    background-size: contain;
}

.flag-us{
    width: 30px;
    height: 30px;
    background: url('/country-flags/us.png') no-repeat center center;
    background-size: contain;
}

.flag-uk{
    width: 30px;
    height: 30px;
    background: url('/country-flags/uk.png') no-repeat center center;
    background-size: contain;
}

.flag-aus{
    width: 30px;
    height: 30px;
    background: url('/country-flags/aus.png') no-repeat center center;
    background-size: contain;
}
