$background-color: #ffffff;
$border-color: #eeeeee;

.edit-form {
    overflow: hidden;
    float: left;
    width: 100%;
    padding-top: 15px;
    background: $background-color;

    border-top: 1px solid $border-color;

    &__button {
        width: 100%;
    }

    &__category-select {
        height: 25px;
        margin-bottom: 13px;
    }

    &__category-select-label {
        margin-bottom: 5px;
        font-size: 13px;
    }

    textarea {
        height: 95px;
        resize: none;
    }
}
