.view-form {
    overflow: hidden;
    padding: 15px;

    &--favourite {
        border-left: 2px solid #e68020;
    }

    &__description {
        float: left;
        width: 80%;
    }

    &__mandatory-text {
        margin-top: 5px;
        font-size: 12px;
        font-weight: 900;
    }

    &__buttons-container {
        overflow: hidden;
        float: right;
        width: 16%;
    }

    &__button {
        width: 100%;
        margin-bottom: 12px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}
