/* add here your styles */
// prettier-ignore
.Select--multi {

    .Select-control {
        height: 40px;
    }

    .Select-value {
        position: relative;
        display: inline-block;
        min-width: 10px;
        padding: 3px 7px;
        color: #ffffff;
        background-color: #777777;
        border-radius: 10px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        text-align: center;
        vertical-align: middle;
        white-space: nowrap;
    }

    .Select-value-icon, .Select-value-label {
        padding: 0;
    }
}

// prettier-ignore
.staff-dropdown {

    .Select-control {

        .Select-value {
            line-height: 20px;
        }
    }
}

.badge {
    padding: 5px 9px;
}

ul.pointer {
    display: inline-block;
}

.comment-lists {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
}
