/* add here your styles */
// prettier-ignore
.status-selector, .staff-dropdown  {

    .Select--multi {

        .Select-control {
            height: 40px;
        }

        .Select-value {
            position: relative;
            display: inline-block;
            min-width: 10px;
            margin-left: 5px;
            padding: 3px 7px;
            color: #ffffff;
            background-color: #777777;
            border-radius: 10px;
            font-size: 12px;
            font-weight: 700;
            line-height: 1;
            text-align: center;
            vertical-align: middle;
            white-space: nowrap;
        }

        .Select-value-icon {
            padding: 0;
            cursor: pointer;
        }

    }
}

// prettier-ignore
.staff-dropdown {

    .Select-control {

        .Select-value {
            color: #333333;
        }
    }
}

.comment-lists {
    overflow-x: hidden;
    overflow-y: auto;
    height: 500px;
}
