
.scroll-auto {
    width: 100%;
    overflow: auto;
}

.wid-50 {
    width: 50%;
}

.document-table.db-angle-table thead tr th {
    height: 170px;
}

.document-table.db-angle-table thead tr th > div {
    transform: translate(3px, -10px) rotate(270deg);

    span{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 130px;
    }
}

.document-table.db-table {
    min-width: 100%;
    width: auto;
}
