.db-function-menu {
    -webkit-font-smoothing: antialiased;

    .dropdown-header {
        font-size: 13px;
        color: #999999;
        padding: 10px 20px;
        border-top: 1px solid #333333;
    }
}
