.category-types__item {
  padding: 12px;
  cursor: pointer;

  &--selected {
    background-color: #E68020;
    color: #ffffff;
    border: 1px solid #E68020;
    font-weight: bold;
  }
}

.react-autosuggest__container {
  position: relative;
}

.react-autosuggest__suggestions-list {
  position: absolute;
  z-index: 10;
  background: white;
  padding-left: 40px;
  width: 100%;
  cursor: pointer;
  height: auto;
  max-height: 250px;
  overflow: scroll;

  &::-webkit-scrollbar {

  }
}

.react-autosuggest__suggestion {
  padding: 7px;
  font-weight: bold;
  font-size: 12px;
  color: #333333;
  border-bottom: 1px solid #dddddd;

  &--focused {
    background: #eeeeee;
  }
}